# deps
/node_modules

# next
/.next/
/out/

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
*.tmp

.env*.local

.env.vercel-prod
.env.vercel
.env.vercel.full
screenshots/
e2e-report/
